.tscache/
build/
examples/browser/*
!examples/browser/1
examples/browser/1/m_config.json
grammars/
logs/
misc/
node_modules/
notes/
src/front-end/
temp/
tools/

.DS_Store
.jshintrc
.baseDir.ts
bin/backup.sh
bin/server.sh
TODO.md
